<!DOCTYPE html>
<html ng-app="bruVue" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/bulma/bulma.css" />
    <title>BruChure</title>
</head>

<body ng-controller="dataCtrl">
    <nav class="level navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="level-item">
            <div class="navbar-brand">
                <img src="img/logo.png" alt="BruChure Logo">
            </div>
            <div class="navbar-item ">
                <h1>BruChure</h1>
            </div>
        </div>
        <div class="level-item">
            <div class="field has-addons">
                <div class="control">
                    <input ng-model="searchBeer" class="input" type="text" placeholder="Search">
                </div>
            </div>
        </div>
        <div>
            <!-- <a href="" ng-click="beerName; reverse=!reverse">Sort By Beer Name</a> -->
        </div>
    </nav>
    <section class="section">

        <div class="container">
            <table class="table is-hoverable is-striped is-narrow">
                <thead>
                    <tr>
                        <th class="has-text-centered"><a href="" ng-click="propertyName='name';reverse=!reverse;">Beer Name</a>
                            <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th class="has-text-centered"><a href="" ng-click="propertyName='brewery';reverse=!reverse;">Brewery Name</a>
                            <span class="sortorder" ng-show="propertyName === 'brewery'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th class="has-text-centered"><a href="" ng-click="propertyName='style';reverse=!reverse;">Beer Style</a>
                            <span class="sortorder" ng-show="propertyName === 'style'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th class="has-text-centered"><a href="" ng-click="propertyName='abv';reverse=!reverse;">ABV</a>
                            <span class="sortorder" ng-show="propertyName === 'abv'" ng-class="{reverse: reverse}"></span>

                        </th>
                        <th class="has-text-centered"><a href="" ng-click="propertyName='ibu';reverse=!reverse;">IBU</a>
                            <span class="sortorder" ng-show="propertyName === 'ibu'" ng-class="{reverse: reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in beerInfo | orderBy:propertyName:reverse| filter:searchBeer">
                        <td>{{data.name}}</td>
                        <td>{{data.brewery}}</td>
                        <td class="has-text-centered">{{data.style}}</td>
                        <td class="has-text-centered">{{data.abv}}</td>
                        <td>{{data.ibu}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- <ul class="content">
                <li class="info box has-text-centered" ng-repeat="data in beerInfo|orderBy:beerName:reverse">
                    <h3 class="title">{{data["Beer Name"]}}</h3>
                    <h4 class="subtitle">From: {{data["Brewery Name"]}}</h4>
                    <h4>Style: {{data["Beer Style"]}}</h4>
                    <span>ABV: {{data["ABV"]}}</span>
                    <span>IBU: {{data["IBU"]}}</span>
                </li>
            </ul> -->



        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="script.js"></script>
</body>

</html>